/*
         Revisions Bookstore and Cafe main web page
         Filename: styles.css

         Author: Lauren Farrell  
         Date: September 21, 2024    
         HTML5 and CSS3 Illustrated Unit C, Visual Workshop
	*/
	
body {
			background-color: white;
			text-align: left;
		}
		h1, #contact {
			background-color: lightblue;
			color: navy;
			text-align: center;
		}
footer {
			background-color: lightblue;
			text-align: right;
		}
		.accent {
			color: navy;
		}
		#phone {
			color: red;
		}
		
	/*
	I used a class for the accent so that I could apply it to multiple lines. 
	I chose an ID for the phone since it was being used just in that one line
	*/