/* 
   Revisions Bookstore and Cafe style sheet 
   Filename: styles.css

   Author: Lauren Farrell  
   Date: September 25, 2024     
   HTML5 and CSS3 Illustrated Unit D, Visual Workshop
 */

/* reset styles */
article, aside, body, div, footer, header, h1, h2, p {
	margin: 0;
	padding: 0;
}

/* body and page container */
body {
   background-color: floralwhite;
}
.container {
   background-color: burlywood;
   max-width: 640px;
   position: relative;
   margin: center;
   border: 2px solid navy;
}

/* headings */
header {
   text-align: center;
   color: navy;
   background-color: lightblue;
   padding: 0.5em;
}

/* main content */
article {
   background-color: white;
   padding: 2%;
   float: right;
}
h2 {
	margin-bottom: 0.4em;
}
article p {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0.8em;
	margin-left: 1em;
	padding: 0;
}
/* sidebar */
aside {
   background-color: burlywood;
   padding: 2%;
   width: 30%;
}
aside p {
	padding: 0.4em;
	margin-bottom: 0.6em;
}

/* footer section */
footer {
   color: navy;
   background-color: lightblue;
   text-align: right;
   padding: 0.5em;
   clear: right; 
}